*{
  box-sizing: border-box;

}
body {
    color: #555;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

    margin: 0;
    padding: 0;

  }
  .header {
    box-shadow: 0 6px 4px -6px #999;
}
.e-mail{
  margin-left: 20px;
  float: left;

}

.top-nav{
  background: #f3f3f3;
  width: 100%;
  padding: 14px;

}
.container{
  height: inherit;
}
.phone{
  height: 15px;
  float: left;
}
.btn{
  background: #FF3450;
  color: white;
  font-weight: bold;
  padding-left :10px;
  padding-right:  10px;
  text-transform: uppercase;
  margin-right: 20px;
  margin-left: 20px;
  -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;

}

.btn:hover{
  background: blue;
}
.bg {
    background: #ff3450;
}


.search-container {
  float: right;
}

.top-nav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .search-container {
    float: none;
  }
  .top-nav input[type=text], .top-nav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .top-nav input[type=text] {
    border: 1px solid #ccc;
  }
  @media (min-width:768px) {
    .col-sm-6{
      width: 50%;
      float: right;
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;

    }
  }
  .social{
    float: right;
    margin-left: 20px;

  }
  .join-top{
    margin-left: 15px;
    float: right;
    font-size: 15px;

  }
  .currency-switchr{
    float: right;
    font-size: 11px;
    margin-left: 20px;

  }
  .dropdown{
  position: relative;
}
.currency-btn{
  background: none;
  border: none;
  padding: 0;

}


 .col-sm-6{
   float: right;
 }
